extends ../layouts/base

block intro
    #intro.row
        .col-md-8.col-md-offset-2
            h1.text-center Hello, my name is Shane Gilroy and welcome to my website 
            h2.text-center This website contains information about myself as well as some links to my relevant social media and some contact information
            h2.text-center It also serves as a place for me to showcase my project portfolio and a blog which I will use in the future to write about various topics
            h5.text-center.italic Please note that this website is still under active development!

block content
    .row.lightbg
        .col-md-8.col-md-offset-2
            #about-me
                h2.center-text.heading About Me
                p I am a recent graduate from the National College of Ireland who is currently seeking graduate opportunities. I achieved a First Class Honors in my Degree which was a Bachelor of Science (Hons) in Computing.
                p My current primarly goal is to start a career in software development. The languages I primarily use are C#, Java and Javascript. Most of my personal projects are done in C# ASP.NET or node. Most of my academic projects are done using Java.
    .row
        .col-md-8.col-md-offset-2
            #latest-blog-post
                h2.center-text.heading Latest Blog Post
                h2 !{blog.title}
                -blog.d = 'Published: ' + new Date(blog.createdAt).toDateString()
                h4.italic !{blog.d}
                p= blog.brief + '...'
                -fullUrl = 'blog/' + blog.title
                a(href=fullUrl) Read more...

    .row.lightbg
        .col-md-8.col-md-offset-2
            #latest-project
                h2.center-text.heading Latest Project
                h2 !{project.title}
                -project.d = 'Published: ' + new Date(project.createdAt).toDateString()
                h4.italic !{project.d}
                p= project.brief
                -fullUrl = 'project/' + project.title
                a(href=fullUrl) Read more...

    .row
        .col-md-8.col-md-offset-2
            #contact
                h2.center-text.heading Contact Me
                p.center-text If you wish to contact me for any reason, you can reach me via email at shane@shanegilroy.me or alternatively by clicking the email icon below!
                #links
                    a(href='mailto:shane@shanegilroy.me')
                        img(src='icons/email.svg')
                    a(href='https://github.com/giller')
                        img(src='icons/github.svg')
                    a(href='https://ie.linkedin.com/pub/shane-gilroy/76/479/60a#')
                        img(src='icons/linkedin.svg')
